.paginaSobre {
  font-family: Italiana;
}

.opcoes {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 1rem;
  background-color: #f7f7f7; 
}

.opcoes a {
  margin: 1rem 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.opcoes .botao_inicio:hover {
  color: #666;
}


.opcoes img {
  height: 50px;
  margin-left: auto;
}


.parOds {
  font-family: poppins;
  font-size: medium;
  color: #111111;
  padding: 1rem;
 

}

.videoOds {
  display: flex;
  align-self: center;
  justify-self: center;
  padding: 1rem;

}

.tituloPgOds{
  display: flex;
  width: fit-content;
  max-width: 70%;
  color: #333;
  font-size: 3rem;
  text-align: center;
}

.block{
  border-radius: 50%;
}

.odsSection{
  background-color: #ffffff;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

#sdg-icons{
  width: 70vw;
  justify-self: center;
  padding: 1rem;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: inherit;
  font-family: italiana-regular;
  box-sizing: border-box;
  display: grid;
  gap: 1rem;
  column-gap: 1.5rem;
  grid-template-columns: repeat(6,minmax(0,1fr));
}


.devPic{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: #333 solid;
}

.devContainer{
  padding: 2rem;
  display: flex;
  font-family: Ubuntu;
  text-align: center;
  padding: 2rem;
  justify-content: space-around;
  
}

.sobreDevContainer{
  padding: 1rem;
  width: auto;

}

.nomeDev{
  padding: 1rem;
  width: max-content;
  justify-self: center;
}

.sobreDev{
  padding: 1rem;
  text-align: justify;
  font-size: medium;
}

.linksDev{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.linkDev{
  border-radius: 10px;
  padding: 1rem;
  background: #1677ff;
  border: #1677ff solid;
  color: #f7f7f7;
  text-decoration: none;
}
.linkDev:hover{
  background: #f7f7f7;
  color: #1677ff;
  border: #1677ff solid;
}

