.pagina_inicio {
  font-family: var(--fonte-italiana);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opcoes {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 1rem;
  background-color: #f7f7f7; 
}

.opcoes a {
  margin: 1rem 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.opcoes .botao_inicio:hover {
  color: #666;
}


.opcoes img {
  height: 50px;
  margin-left: auto;
}

.opcoes .botao_inicio:last-of-type,
.opcoes .botao_inicio:nth-last-of-type(2) {
  margin-left: auto ;
  padding: 0.5rem 1rem;
  background-color: #e0e0e0;
  border-radius: 20px;
  color: #333;
  font-weight: bold;
}

.opcoes .botao_inicio:last-of-type:hover,
.opcoes .botao_inicio:nth-last-of-type(2):hover {
  background-color: #ccc;
}

.parOds {
  font-size: medium;
  color: #111111;
  padding: 1rem;

}

.videoOds {
  display: flex;
  align-self: center;
  justify-self: center;
  padding: 1rem;

}

.tituloPgOds{
  display: flex;
  width: fit-content;
  max-width: 70%;
  --fonte-poppins: "Poppins", serif;
  font-family: var(--fonte-poppins);
  color: #333;
  font-size: 3rem;
  text-align: center;
}

.block{
  border-radius: 50%;
}

.odsSection{
  background-color: #ffffff;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

#sdg-icons{
  width: 70vw;
  justify-self: center;
  padding: 1rem;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: inherit;
  font-family: Roboto,sans-serif;
  box-sizing: border-box;
  display: grid;
  gap: 1rem;
  column-gap: 1.5rem;
  grid-template-columns: repeat(6,minmax(0,1fr));
}

p{
  width: 70vw;
  justify-self: center;
}

h1{
  width: 70vw;
  justify-self: center;
}