.pagina_inicio {
  font-family: var(--fonte-italiana);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opcoes {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 1rem;
  background-color: #f7f7f7;
}

.opcoes a {
  margin: 1rem 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.opcoes .botao_inicio:hover {
  color: #666;
}


.opcoes img {
  height: 50px;
  margin-left: auto;
}

.opcoes .botao_inicio:last-of-type,
.opcoes .botao_inicio:nth-last-of-type(2) {
  margin-left: auto;
  padding: 0.5rem 1rem;
  background-color: #e0e0e0;
  border-radius: 20px;
  color: #333;
  font-weight: bold;
}

.opcoes .botao_inicio:last-of-type:hover,
.opcoes .botao_inicio:nth-last-of-type(2):hover {
  background-color: #ccc;
}

.titulo_ods {
  display: flex;
}

.titulo_container {
  width: auto;
  display: flex;
}

.titulo {
  display: flex;
  width: fit-content;
}

#odsimagem {
  width: fit-content;
  animation: spin 10s linear infinite;
}


.botao_quiz {
  text-decoration: none;
  align-content: center;
  justify-content: center;
  font-family: var(--fonte-italiana);
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 3rem;
}

.botao_quiz:hover {
  background-color: #555;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
