@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

    .formulario__cadastro{
     background: var(--degrade-azul);
    margin-top: 3rem;
    font-family: var(--fonte-poppins);
    
}
.container {
    margin-left: 10rem;
    width: 80%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-branca);
    padding: 1rem;
}

.imagem_logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
}

.formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-branca);
    padding: 3rem;
    
}

.titulo_formulario {
    margin-bottom: 0.1rem;
    display: flex;
    justify-content: space-between;

}

.titulo{
    font-size: 30px;
    margin-top: 5rem;
}

.botao_container{
    display: flex;
    align-items: center;
    
}

.botao_entrar {
    border: none;
    background-color: var(--cor-azul-claro);
    padding: 1rem 3rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.botao_entrar:hover {
    background-color: var(--cor-azul-escuro);
}

.botao_entrar {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.titulo_formulario .titulo::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: var(--cor-azul-claro);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.formulario__campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;

}

.formulario_campo .campo_escrita {
    font-family: var(--fonte-poppins);
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem ;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #0000001c;
    font-size: 0.8rem;
}

.formulario_campo .campo_escrita:hover {
    background-color: #eeeeee75;
}

.formulario_campo .campo_escrita:focus-visible {
    outline: 1px solid var(--cor-azul-claro);
}

.formulario__campo label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.formulario_campo .campo_escrita::placeholder {
    color: #000000be;
}

.botao_cadastro_container {
    /* font-family: var(--fonte-poppins);
    background-color: var(--cor-azul-escuro);
    cursor: pointer; */
}

.error-message {
    color: red;
    font-size: 0.75rem;
    margin-top: 0.2rem;
}
.botao_cadastro{
    /* border-radius: 5px;
    border: none;
    margin-top: 2.5rem;
    width: 100%; */
    

}

.botao_cadastro:hover {
    background-color: var(--cor-azul-claro);
}

/* .botao_cadastrar button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
} */

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

}

/* Estilos do Modal */
.imagem_modal {
    width: 80px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-bottom: 1rem;
    border-radius: 50%; /* Opcional: torna a imagem circular */
  }
  
.sobreposicao_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 8px;
    text-align: center;
    position: relative;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .frase_modal {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
  }
  
  .botao_fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #888;
  }
  
  .botao_fechar:hover {
    color: red;
  }