.formulario__cadastro {
    margin: 3rem;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    padding: 2rem;
}

.form-image {
    border: #333 solid;
}

.imagem_logo {
    width: 50%;
    display: flex;
    justify-content: center;
}

.titulo_formulario {
/**/
}

.formulario {

    width: 50%;
    display: flex;

}



.titulo {
    font-size: 30px;

}

.botao_container {
}

.botao_entrar {
}

.botao_entrar:hover {
}

.botao_entrar {
}

.input-group {
    font-size: large;
    font-family: "Poppins", sans-serif;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: center;
    gap: 1%;
    padding: 1rem;

}

.formulario__campo {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;

}

.formulario_campo .campo_escrita {
    font-family: "Poppins", sans-serif;
    margin: 5;
    border-radius: 10px;
}

.formulario_campo .campo_escrita:hover {
    background-color: #eeeeee75;
}

.formulario_campo .campo_escrita:focus-visible {
    outline: 1px solid #888;
}

.formulario__campo label,
.gender-title h6 {
    font-size: large;
    font-weight: 800;
}

.formulario_campo .campo_escrita::placeholder {
    color: #000000be;
}

.botao_cadastro_container {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 1rem;
    font-size: xx-large;
}

.error-message {
    color: red;
    font-size: 0.75rem;
    margin-top: 0.2rem;
}

.botao_cadastro {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    width: 50%;
    background-color:#1677ff;
    cursor: pointer;
    color: #bae0ff;
    font-size: x-large;
    font-weight: 900;
}

.botao_cadastro:hover {
    background-color:#bae0ff;
    color: #1677ff;

}

/* Estilos do Modal */
.imagem_modal {
    width: 80px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
    /* Opcional: torna a imagem circular */
}

.sobreposicao_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 5rem;
    border-radius: 2rem;
    text-align: center;
    position: relative;
    width: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.frase_modal {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.botao_fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #888;
}

.botao_fechar:hover {
    color: red;
}